<app-header></app-header>

<!-- PARA MODAL -->
<app-archivo-resumen-normativo *ngIf="resumenSeleccionado" [resumen]="resumenSeleccionado"> </app-archivo-resumen-normativo>
<!-- PARA MODAL -->

<div class="card border-primary mb-3">
  <div class="card-header">
    <h5 align="center">LISTADO RESUMENES NORMATIVOS SEMANALES</h5>
  </div>
  <div class="card-body text-primary">


    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/resumenesNormativos/formResumenNormativo']">
        CARGAR RESUMEN NORMATIVO
      </button>
    </div>

    <div *ngIf="resumenes?.length == 0" class="alert alert-info">
      No hay registros en la Base de Datos
    </div>

    <table class="table table-bordered table-striped text-center">
      <thead>
        <tr>
          <th>Archivo</th>
          <th>Fecha</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let resumen of resumenes">

          <td><button type="button" (click)="abrirModal(resumen)" class="btn btn-dark btn-sm">ARCHIVO</button></td>
          <td>{{resumen.fecha}}</td>

          <td>
            <button type="button" name="editar" [routerLink]="['/resumenesNormativos/formResumenNormativo', resumen.id]" class="btn btn-success btn-sm"> EDITAR </button>
          </td>

          <td>
            <button type="button" name="eliminar" (click)='delete(resumen)' class="btn btn-danger btn-sm"> ELIMINAR </button>
          </td>

        </tr>
      </tbody>

    </table>
