<div class="container-fluid">

  <header class="row navbar navbar-dark bg-dark">
    <div class="col-4">
      <a class="rounded float-left" href="#"><img src="../../assets/images/prueba3.png" alt="Responsive image" class="img-fluid" width="250" height="250"></a>
    </div>
    <div class="col text-center">
      <h2>LEGISLACIÓN PROVINCIAL</h2>
      <h3>DIRECCIÓN DE INFORMÁTICA JURÍDICA</h3>
    </div>
    <div>
      <ul class="navbar-nav navbar-right">
        <li *ngIf="!authService.isAuthenticated()"><a [routerLink]="['/login']" class="btn btn-outline-primary">INICIAR SESIÓN</a></li>

        <li *ngIf="authService.isAuthenticated()" class="dropdown">
        <a class="btn btn-primary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{authService.usuario.username}}
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <button (click)="logout()" class="dropdown-item" type="submit">CERRAR SESIÓN</button>
        </div>
      </li>

      <br>

      <td *ngIf="authService.hasRole('ROLE_ADMIN')">
        <button class="btn btn-outline-primary" [routerLink]="['/crearUsuario']" type="button">LISTA DE USUARIOS</button>
      </td>

      </ul>
    </div>
  </header>
</div>
