<div class="container-fluid">

  <footer class="footer row bg-dark">
    <div class="col-12">
      <p>
        La información a la que se accederá es producida por la Dirección de Informática Jurdídica dependiente de la
        Fiscalía de Estado de la Provincia de Córdoba.
      </p>
    </div>
    <div class="col-6">
      <dl>
        <dt>Teléfonos:</dt>
        <dd>(0351) 5243112 -->interno 3533</dd>
        <dd>(0351) 5243000 -->interno 3533</dd>
      </dl>
    </div>
    <div class="col-3">
      <a href="https://consultamail.herokuapp.com/" target="_blank">
        <button type="button" class="btn btn-primary">Enviar Correo Electrónico</button>
      </a>
    </div>
    <div class="col-3">
      <a href="" target="_blank">
        <button type="button" class="btn btn-primary">Chat Online</button>
      </a>
    </div>
  </footer>

</div>
