p {
  color: #3498db;
  text-align: center;
}

dl {
  color: #3498db;
  text-align: center;
}

dd {
  color: #3498db;
  text-align: center;
}

.footer {
  margin-top: 10px;
  position: absolute;
  bottom: 0;
}
