<header class="row navbar navbar-dark bg-dark">
  <div class="col-4">
    <a class="rounded float-left" href="#"><img src="../../assets/images/prueba3.png" alt="Responsive image" class="img-fluid" width="250" height="250"></a>
  </div>
  <div class="col text-center">
    <h2>LEGISLACIÓN PROVINCIAL</h2>
    <h3>DIRECCIÓN DE INFORMÁTICA JURÍDICA</h3>
  </div>
</header>

<section class="row">
  <div class="col-auto">
    <div class="list-group">
      <button class="list-group-item list-group-item-action active" id="list-home-list" [routerLink]="['/sectionInterno']">USUARIOS INTERNOS</button>

      <button type="button" class="list-group-item list-group-item-action" id="list-home-list" [routerLink]="['/constitucionProvincial']">CONSTITUCIÓN PROVINCIAL</button>
      <button type="button" class="list-group-item list-group-item-action" id="list-home-list" [routerLink]="['/leyesProvinciales']">LEYES PROVINCIALES</button>
      <button type="button" class="list-group-item list-group-item-action" id="list-home-list" [routerLink]="['/decretos']">DECRETOS PROVINCIALES</button>
      <button type="button" class="list-group-item list-group-item-action" id="list-home-list" [routerLink]="['/decretosLey']">DECRETOS LEY</button>
      <button type="button" class="list-group-item list-group-item-action" id="list-home-list" [routerLink]="['/resumenesNormativos']">RESUMEN NORMATIVO SEMANAL</button>
      <button type="button" class="list-group-item list-group-item-action" id="list-home-list" [routerLink]="['/decretosReglamentarios']">COMPILACIÓN EDUCACIÓN Y TRÁNSITO</button>

    </div>
  </div>

  <div class="col-8">
    <div class="text-center aling-self-center">
      <img src="../../assets/images/InformaticaJuridica.png" alt="Responsive image" class="img-fluid" width="700" height="380" />
    </div>
  </div>
</section>

<div class="container-fluid">
  <footer class="footer row bg-dark">
    <div class="col-12">
      <h5>
        La información a la que se accederá es producida por la Dirección de Informática Jurdídica dependiente de la
        Fiscalía de Estado de la Provincia de Córdoba.
      </h5>
    </div>

    <div style="width: 220px; margin: 0 auto;" class="col-auto">
      <a href="" target="_blank">
        <button type="button" class="btn btn-primary">CHAT ONLINE</button>
      </a>
    </div>
  </footer>

</div>
