section {
 margin-left: 5px;
}

h2 {
  color: #53aae0;
}

h3 {
  color: #53aae0;
}

h4 {
  color: #53aae0;
}

h5 {
  color: #53aae0;
  text-align: center;
}

header {
  margin-bottom: 20px;
  padding: 20px;
  margin-top: -15px;
}

#list-home-list{
  font-size: 120%;
}

.footer {
  margin-top: 10px;
  position: absolute;
  bottom: 0;
}

button {
  text-align: center;
  margin-top: 5px;

}
