<app-header></app-header>

<!-- PARA MODAL -->
<app-archivo-decreto-ley *ngIf="decretoLeySeleccionado" [decretoLey]="decretoLeySeleccionado"></app-archivo-decreto-ley>
<!-- PARA MODAL -->

<div class="card border-primary mb-3">
  <div class="card-header">
    <h5 align="center">LISTADO DECRETOS LEY</h5>
  </div>
  <div class="card-body text-primary">

    <!-- <div  class="row">
      <div class="input-group input-group-sm col-4">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputTitulo">Buscar por Título:</span>
        </div>
         <input type="text" [(ngModel)]="titulo" (input)="searchTitulo()" class="form-control" aria-describedby="inputTitulo" />
      </div>
    </div> -->

    <div  class="row">
      <div class="input-group input-group-sm col-2">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputNumero">Buscar por N°:</span>
        </div>
        <input type="text" [(ngModel)]="numero" (input)="searchNumero()" class="form-control" aria-describedby="inputNumero" />
      </div>
    </div>

    <br>

    <div  class="row">
      <div class="input-group input-group-sm col-2">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputNumero">Buscar por Año°:</span>
        </div>
        <input type="text" [(ngModel)]="anio" (input)="searchAnio()" class="form-control" aria-describedby="inputNumero" />
      </div>
    </div>

    <br>

    <div class="my-2 text-left">
      <button  class="btn btn-rounded btn-primary" type="button" [routerLink]="['/decretosLey/formDecretoLey']">
        CARGAR DECRETO LEY
      </button>
    </div>

    <div *ngIf="decretosLey?.length == 0" class="alert alert-info">
      No hay registros en la Base de Datos
    </div>

    <table class="table table-bordered table-striped text-center" *ngIf="decretosLey?.length > 0">
      <thead>
        <tr>
          <th>Cargar Archivo</th>
          <th>Número</th>
          <!-- <th>Título</th> -->
          <th>Año</th>
          <th>Fecha de Sanción</th>
          <th>Publicación en BO</th>
          <th>Texto Original</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let decretoLey of decretosLey">

          <td><button type="button" (click)="abrirModal(decretoLey)" class="btn btn-dark btn-sm">ARCHIVO</button></td>
          <td>{{decretoLey.numero}}</td>
          <!-- <td>{{decretoLey.titulo}}</td> -->
          <td>{{decretoLey.anio}}</td>
          <td>{{decretoLey.fechaSancion}}</td>
          <td>{{decretoLey.publicacionBO}}</td>

          <td>
            <p><a *ngIf="decretoLey?.archivo" href="http://localhost:8080/api/uploads/archivodecreto/{{decretoLey.archivo}}" target='_heopenit' title="Ver archivo">Ver archivo</a></p>
          </td>

          <td>
            <button type="button" name="editar" [routerLink]="['/decretosLey/formDecretoLey', decretoLey.id]" class="btn btn-success btn-sm"> EDITAR </button>
          </td>

          <td >
            <button type="button" name="eliminar" (click)='delete(decretoLey)' class="btn btn-danger btn-sm"> ELIMINAR </button>
          </td>

        </tr>
      </tbody>

    </table>

    </div>
    </div>

    <br>

    <div class="col-10">
      <button class="btn btn-primary" role="button" [routerLink]="['/sectionInterno']">VOLVER ATRÁS</button>
    </div>
