<app-header></app-header>

<div class="card bg-dark text-white mx-auto" style="width: 50rem;">
  <div class="card-header">DECRETO LEY</div>
  <div class="card-body">

    <form #decretoLeyForm="ngForm">
      <!--esto sirve para habilitar el boton cuando los datos ingresados sean válidos -->

      <div class="form-group row">
        <label for="numero" class="col-form-label col-auto">Número:</label>
        <div class="col-auto">
          <input type="text" class="form-control" [(ngModel)]="decretoLey.numero" name="numero" autocomplete="off" required>
        </div>
      </div>

      <div class="form-group row">
        <label for="titulo" class="col-form-label col-auto">Título:</label>
        <div class="col-8">
          <input type="text" class="form-control" [(ngModel)]="decretoLey.titulo" name="titulo" autocomplete="off" required>
        </div>
      </div>

      <div class="form-group row">
        <label for="anio" class="col-form-label col-auto">Año:</label>
        <div class="col-8">
          <input type="text" class="form-control" [(ngModel)]="decretoLey.anio" name="anio" autocomplete="off" required>
        </div>
      </div>

      <div class="form-group row">
        <label for="fechaEmision" class="col-form-label col-auto">Fecha Sanción:</label>
        <div class="col-auto">
          <input type="date" class="form-control" [(ngModel)]="decretoLey.fechaSancion" name="fechaEmision" required>
        </div>
      </div>

      <div class="form-group row">
        <label for="publicacionBO" class="col-form-label col-auto">Publicación BO:</label>
        <div class="col-auto">
          <input type="date" class="form-control" [(ngModel)]="decretoLey.publicacionBO" name="publicacionBO" required>
        </div>
      </div>


      <div class="form-group row">
        <div class="col-auto" style="display: inline-block; text-align: right; width: 100%">
          <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!decretoLey.id else elseBlock" [disabled]="!decretoLeyForm.form.valid">SUBIR</button>
          <!--[disabled="!leyForm.form.valid"]sirve para habilitar boton cuando los datos ingresados sean validos-->

          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='update()' [disabled]="!decretoLeyForm.form.valid">EDITAR</button>
          </ng-template>
        </div>
      </div>

    </form>

  </div>
</div>

<br>

<div class="form-group row" style="display: inline-block; text-align: right; width: 100%">
  <div class="col-10">
  <button class="btn btn-primary" role="button" [routerLink]="['/decretosLey']">VOLVER ATRÁS</button>
  </div>
</div>

<footer class="footer row bg-dark">
  <div class="col-12">
    <h5>
      La información a la que se accederá es producida por la Dirección de Informática Jurdídica dependiente de la
      Fiscalía de Estado de la Provincia de Córdoba.
    </h5>
  </div>
</footer>
