<app-header></app-header>

<div class="card border-primary mb-3">
  <div class="card-header">
    <h5 align="center">LEYES PROVINCIALES</h5>
  </div>
  <div class="card-body text-primary">

    <div class="form-group row">
      <div class="col-sm-6">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="Ingrese título de la Ley" aria-label="Leyes" matInput [formControl]="autocompleteControlPorTitulo" [matAutocomplete]="autoTitulo">
            <mat-autocomplete #autoTitulo="matAutocomplete" [displayWith]="mostrarNombrePorTitulo" (optionSelected)="seleccionarLeyPorTitulo($event)">
              <mat-option *ngFor="let leyes of leyesFiltradasPorTitulo | async" [value]="leyes">
                {{leyes.titulo}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-6">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="Ingrese N° de la Ley" aria-label="Leyes" matInput [formControl]="autocompleteControlPorNumero" [matAutocomplete]="autoNumero">
            <mat-autocomplete #autoNumero="matAutocomplete" [displayWith]="mostrarNombrePorNumero" (optionSelected)="seleccionarLeyPorNumero($event)">
              <mat-option *ngFor="let leyes of leyesFiltradasPorNumero | async" [value]="leyes">
                {{leyes.numero}} - {{leyes.titulo}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
    </div>

    <br>

    <div class="form-group row">
      <div class="col-auto">
        <table class="table table-bordered" *ngIf="leyProvincialExt.listaDeLeyes?.length > 0">
          <thead>
            <tr class="table-primary" align="center">
              <th>TÍTULO</th>
              <th>NÚMERO</th>
              <th>FECHA SANCIÓN</th>
              <th>PUBLICACIÓN EN BO</th>
              <th>ARCHIVO</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ley of leyProvincialExt.listaDeLeyes" align="center">
              <td>{{ley.titulo}}</td>
              <td>{{ley.numero}}</td>
              <td>{{ley.fechaSancion}}</td>
              <td>{{ley.publicacionBO}}</td>
              <td>
                <div>
                  <a *ngIf="ley?.archivo" href="http://localhost:8080/api/uploads/img/{{ley.archivo}}" title="Descargar archivo">Descargar archivo</a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>

<div class="col-10">
  <button class="btn btn-primary" role="button" [routerLink]="['/section']">VOLVER ATRÁS</button>
</div>
