<app-header></app-header>

<div class="card border-primary mb-3">
  <div class="card-header">
    <h5 align="center">LISTADO DE LEYES PROVINCIALES</h5>
  </div>
  <div class="card-body text-primary">


    <div class="form-group row">
      <div class="col-sm-6">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="Buscador de Leyes Provinciales" aria-label="Leyes" matInput [formControl]="autocompleteControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="mostrarNombre" (optionSelected)="seleccionarLey($event)">
              <mat-option *ngFor="let leyes of leyesFiltradas | async" [value]="leyes">
                {{leyes.titulo}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
    </div>


    <br>

    <div class="form-group row">
      <div class="col-auto">
        <table class="table table-bordered">
          <thead>
            <tr class="table-primary" align="center">
              <th>TÍTULO</th>
              <th>NÚMERO</th>
              <th>FECHA SANCIÓN</th>
              <th>PUBLICACIÓN EN BO</th>
              <th>ARCHIVO</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ley of leyProvincialExt.listaDeLeyes" align="center">
              <td>{{ley.titulo}}</td>
              <td>{{ley.numero}}</td>
              <td>{{ley.fechaSancion}}</td>
              <td>{{ley.publicacionBO}}</td>
              <td>
                <div>
                  <!-- <p><a *ngIf="ley?.foto" href="http://localhost:8080/api/uploads/img/{{ley.foto}}" target='_blank' title="Click aquí para descargar el archivo">Click aquí para descargar el archivo</a></p> -->
                  <a href="http://localhost:8080/api/uploads/img/{{ley.foto}}" onclick="window.open('archivo.pdf')">Abrir archivo pdf</a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

<!-- <app-footer></app-footer> -->
