<app-header></app-header>

<!-- PARA MODAL -->
<app-archivo-decreto-reglamentario *ngIf="decretoReglamentarioSeleccionado" [decretoReglamentario]="decretoReglamentarioSeleccionado"></app-archivo-decreto-reglamentario>
<!-- PARA MODAL -->

<div class="card border-primary mb-3">
  <div class="card-header">
    <h5 align="center">LISTADO DECRETOS REGLAMENTARIOS</h5>
  </div>
  <div class="card-body text-primary">


    <div  class="row">
      <div class="input-group input-group-sm col-2">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputNumero">Buscar por N°:</span>
        </div>
        <input type="text" [(ngModel)]="numero" (input)="searchNumero()" class="form-control" aria-describedby="inputNumero" />
      </div>
    </div>

    <br>

    <div  class="row">
      <div class="input-group input-group-sm col-2">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputNumero">Buscar por Año°:</span>
        </div>
        <input type="text" [(ngModel)]="anio" (input)="searchAnio()" class="form-control" aria-describedby="inputNumero" />
      </div>
    </div>

    <br>

    <div class="my-2 text-left">
      <button  class="btn btn-rounded btn-primary" type="button" [routerLink]="['/decretosReglamentarios/formDecretoReglamentario']">
        CARGAR DECRETO REGLAMENTARIO
      </button>
    </div>

    <div *ngIf="decretosReglamentarios?.length == 0" class="alert alert-info">
      No hay registros en la Base de Datos
    </div>

    <table class="table table-bordered table-striped text-center">
      <thead>
        <tr>
          <th>Archivo</th>
          <th>Número</th>
          <th>Año</th>
          <th>Fecha de Emisión</th>
          <th>Publicación en BO</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let decretoReglamentario of decretosReglamentarios">

          <td><button type="button" (click)="abrirModal(decretoReglamentario)" class="btn btn-dark btn-sm">ARCHIVO</button></td>
          <td>{{decretoReglamentario.numero}}</td>
          <td>{{decretoReglamentario.anio}}</td>
          <td>{{decretoReglamentario.fechaEmision}}</td>
          <td>{{decretoReglamentario.publicacionBO}}</td>

          <td>
            <button type="button" name="editar" [routerLink]="['/decretosReglamentarios/formDecretoReglamentario', decretoReglamentario.id]" class="btn btn-success btn-sm"> EDITAR </button>
          </td>

          <td >
            <button type="button" name="eliminar" (click)='delete(decretoReglamentario)' class="btn btn-danger btn-sm"> ELIMINAR </button>
          </td>

        </tr>
      </tbody>

    </table>
