<app-header></app-header>

<!-- PARA MODAL -->
<app-archivo-decreto *ngIf="decretoSeleccionado" [decreto]="decretoSeleccionado"></app-archivo-decreto>
<!-- PARA MODAL -->

<div class="card border-primary mb-3">
  <div class="card-header">
    <h5 align="center">LISTADO DECRETOS</h5>
  </div>
  <div class="card-body text-primary">

    <div  class="row">
      <div class="input-group input-group-sm col-4">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputTitulo">Buscar por Título:</span>
        </div>
         <input type="text" [(ngModel)]="titulo" (input)="searchTitulo()" class="form-control" aria-describedby="inputTitulo" />
      </div>
    </div>

    <br>

    <div  class="row">
      <div class="input-group input-group-sm col-2">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputNumero">Buscar por N°:</span>
        </div>
        <input type="text" [(ngModel)]="numero" (input)="searchNumero()" class="form-control" aria-describedby="inputNumero" />
      </div>
    </div>

    <br>

    <div  class="row">
      <div class="input-group input-group-sm col-2">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputNumero">Buscar por Año°:</span>
        </div>
        <input type="text" [(ngModel)]="anio" (input)="searchAnio()" class="form-control" aria-describedby="inputNumero" />
      </div>
    </div>

    <br>

    <div class="my-2 text-left">
      <button  class="btn btn-rounded btn-primary" type="button" [routerLink]="['/decretos/formDecreto']">
        CARGAR DECRETO
      </button>
    </div>

    <div *ngIf="decretos?.length == 0" class="alert alert-info">
      No hay registros en la Base de Datos
    </div>

    <table class="table table-bordered table-striped text-center">
      <thead>
        <tr>
          <th>Cargar Archivo</th>
          <th>Número</th>
          <th>Título</th>
          <th>Año</th>
          <th>Fecha de Emisión</th>
          <th>Publicación en BO</th>
          <th>Archivo</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let decreto of decretos">

          <td><button type="button" (click)="abrirModal(decreto)" class="btn btn-dark btn-sm">ARCHIVO</button></td>
          <td>{{decreto.numero}}</td>
          <td>{{decreto.titulo}}</td>
          <td>{{decreto.anio}}</td>
          <td>{{decreto.fechaEmision}}</td>
          <td>{{decreto.publicacionBO}}</td>

          <td>
            <p><a *ngIf="decreto?.archivo" href="http://localhost:8080/api/uploads/img/{{decreto.archivo}}" target='_heopenit' title="Descargar archivo">Descargar archivo</a></p>
          </td>

          <td>
            <button type="button" name="editar" [routerLink]="['/decretos/formDecreto', decreto.id]" class="btn btn-success btn-sm"> EDITAR </button>
          </td>

          <td >
            <button type="button" name="eliminar" (click)='delete(decreto)' class="btn btn-danger btn-sm"> ELIMINAR </button>
          </td>

        </tr>
      </tbody>

    </table>
