<div class="abrir-modal animacion fadeIn" *ngIf="modalResumenService.modal">

  <div class="modal" tabindex="-1" role="dialog" style="display:block;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">SUBIR ARCHIVO</h5>
          <button (click)="cerrarModal()" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-sm">

                <ul *ngIf="resumen" class="list-group text-dark mb-3">
                  <li class="list-group-item"><b>AÑO</b>: {{resumen.anio}}</li>
                  <li class="list-group-item"><b>MES</b>: {{resumen.mes}}</li>
                  <li class="list-group-item"><b>SEMANA</b>: {{resumen.semana}}</li>
                </ul>

                <div class="input-group mb-3">
                  <div class="custom-file">
                    <input (change)="seleccionarArchivo($event)" type="file" class="custom-file-input" id="customFileLang" aria-describedby="inputGroupFileAddon04">
                    <label class="custom-file-label" for="inputGroupFile04">Seleccionar Archivo</label>
                  </div>

                  <div class="input-group-append">
                    <button (click)="subirArchivo()" class="btn btn-primary" type="button" id="inputGroupFileAddon04">Subir</button>
                  </div>
                </div>



                <div *ngIf="progreso > 0" class="progress" style="height: 30px;">
                  <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{width:progreso+'%'}" attr.aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100">
                    {{progreso}}%
                  </div>
                </div>

                <div>
                  <div class="col-sm">
                    <p><a *ngIf="resumen?.archivo" href="http://localhost:8080/api/uploads/archivo/{{resumen.archivo}}" target='_blank' title="Click aquí para descargar el archivo">Click aquí para descargar el archivo</a></p>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="cerrarModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>

      </div>
    </div>
  </div>
</div>
