<app-header></app-header>

<section class="row">
  <div class="col-auto">
    <div class="list-group">
      <button class="list-group-item list-group-item-action active" [routerLink]="['/section']">CONSULTAS </button>

      <button type="button" class="list-group-item list-group-item-action" [routerLink]="['/constitucionProvincial']">CONSTITUCIÓN PROVINCIAL</button>
      <button type="button" class="list-group-item list-group-item-action" [routerLink]="['/leyesProvinciales']">LEYES PROVINCIALES</button>
      <button type="button" class="list-group-item list-group-item-action">DECRETOS PROVINCIALES</button>
      <button type="button" class="list-group-item list-group-item-action">DECRETOS LEY</button>
      <button type="button" class="list-group-item list-group-item-action">RESUMEN NORMATIVO SEMANAL</button>
      <button type="button" class="list-group-item list-group-item-action">COMPILACIÓN EDUCACIÓN Y TRÁNSITO</button>
      <button type="button" class="list-group-item list-group-item-action">CODEX</button>
    </div>
  </div>

    <div class="col-8">
                <div class="text-center aling-self-center">
                    <img src="../../assets/images/InformaticaJuridica.png" alt="Responsive image" class="img-fluid" width="640" height="300"/>
                </div>
    </div>

</section>

<app-footer></app-footer>
