<app-header></app-header>

<section class="row">
  <div class="col-3">
    <div class="list-group">
      <button class="list-group-item list-group-item-action active" [routerLink]="['/section']">CONSULTAS </button>

      <button type="button" class="list-group-item list-group-item-action" id="list-home-list" [routerLink]="['/constitucionProvincial']">CONSTITUCIÓN PROVINCIAL</button>
      <button type="button" class="list-group-item list-group-item-action" id="list-home-list" [routerLink]="['/leyesProvincialesExt']">LEYES PROVINCIALES</button>
      <button type="button" class="list-group-item list-group-item-action" id="list-home-list" [routerLink]="['/decretosExt']">DECRETOS PROVINCIALES</button>
      <button type="button" class="list-group-item list-group-item-action" id="list-home-list" [routerLink]="['/decretosLeyExt']">DECRETOS LEY</button>
      <button type="button" class="list-group-item list-group-item-action" id="list-home-list">RESUMEN NORMATIVO SEMANAL</button>
      <button type="button" class="list-group-item list-group-item-action" id="list-home-list">COMPILACIÓN EDUCACIÓN Y TRÁNSITO</button>
      <button type="button" class="list-group-item list-group-item-action" id="list-home-list">CODEX</button>
    </div>
  </div>

  <div class="col-9">
      <img src="../../assets/images/InformaticaJuridica.png" alt="Responsive image"  class="img-fluid" width="650" height="700" />
  </div>

</section>


<app-footer></app-footer>
