h2 {
  color: #3498db;
  text-align: center;
}

.cardcss {
    margin:10px auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    max-width: 75rem;
}

i {
    color: #3498db;
}
