<!-- <div class="abrir-modal animacion fadeIn" *ngIf="modalDecRegService.modal">

  <div class="modal" tabindex="-1" role="dialog" style="display:block;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">SUBIR ARCHIVO</h5>
          <button (click)="cerrarModal()" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-sm">

                <ul *ngIf="decretoReglamentario" class="list-group text-dark mb-3">
                  <li class="list-group-item"><b>NUMERO</b>: {{decretoReglamentario.numero}}</li>
                  <li class="list-group-item"><b>PUBLICACIÓN EN BO</b>: {{decretoReglamentario.publicacionBO}}</li>
                </ul>


                <div class="input-group mb-3">
                  <div class="custom-file">
                    <input (change)="seleccionarArchivo($event)" type="file" class="custom-file-input" id="customFileLang" aria-describedby="inputGroupFileAddon04">
                    <label class="custom-file-label" for="inputGroupFile04">Seleccionar Archivo</label>
                  </div>

                  <div class="input-group-append">
                    <button (click)="subirArchivo()" class="btn btn-primary" type="button" id="inputGroupFileAddon04">SUBIR</button>
                  </div>
                </div>



                <div *ngIf="progreso > 0" class="progress" style="height: 30px;">
                  <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{width:progreso+'%'}" attr.aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100">
                    {{progreso}}%
                  </div>
                </div>

                <div>
                  <div class="col-sm">
                    <p><a *ngIf="leyProvincial?.foto" href="http://localhost:8080/api/uploads/img/{{leyProvincial.archivo}}" target='_blank' title="Click aquí para descargar el archivo">Click aquí para descargar el archivo</a></p>
                </div>
              </div>

              </div>


            </div>

            PRUEBA DECRETO RELGAMENTARIO


          <div class="row">
           <div class="alert alert-info my-4" *ngIf="leyProvincial.listaDeDecretosReglamentarios.length == 0">
             No hay decretos reglamentarios para la Ley "{{leyProvincial.titulo}}"
           </div>

            <table class="table table-bordered table-striped my-4"  *ngIf="leyProvincial.listaDeDecretosReglamentarios.length >  0">
              <thead>
                <tr>
                  <th>Número</th>
                  <th>Fecha Emisión</th>
                  <th>Publicación BO</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let decretoReglamentario of leyProvincial.listaDeDecretosReglamentarios">
                  <td>{{decretoReglamentario.numero}}</td>
                  <td>{{decretoReglamentario.fechaEmision}}</td>
                  <td>{{decretoReglamentario.publicacionBO}}</td>
                </tr>
              </tbody>
              </table>
          </div>

        </div>
        <div class="modal-footer">
          <button (click)="cerrarModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>

      </div>
    </div>
  </div>
</div> -->

<div class="card border-primary mb-3">
  <div class="card-header">
    <h5 align="center">DETALLE DE LA LEY LA CUAL SE RELACIONARÁ EL DECRETO REGLAMENTARIO</h5>
  </div>
  <div class="card-body text-primary">

    <div class="container">
      <div class="row">
        <div class="col-sm">

         <ul *ngIf="leyProvincial" class="list-group text-dark">
           <li class="list-group-item"><u>NÚMERO</u>: {{leyProvincial.numero}}</li>
           <li class="list-group-item"><u>TÍTULO</u>: {{leyProvincial.titulo}}</li>
           <li class="list-group-item"><u>FECHA SANCIÓN</u>: {{leyProvincial.fechaSancion}}</li>
           <li class="list-group-item"><u>PUBLICACIÓN BO</u>: {{leyProvincial.publicacionBO}}</li>
         </ul>


          <div class="input-group mb-3">
            <div class="custom-file">
              <input (change)="seleccionarArchivoDecretoReg($event)" type="file" class="custom-file-input" id="customFileLang" aria-describedby="inputGroupFileAddon04">
              <label class="custom-file-label" for="inputGroupFile04">Seleccionar Decreto Reglamentario</label>
            </div>

            <div class="input-group-append">
              <button (click)="subirArchivoDecretoReg()" class="btn btn-primary" type="button" id="inputGroupFileAddon04">SUBIR</button>
            </div>
          </div>
        </div>
        <div class="col-sm">

        </div>
      </div>
    </div>




  </div>
</div>
