<app-header></app-header>

<div class="card border-primary mx-auto text-center" style="width: 40rem;">
  <div class="card-header"><b>INICIAR SESIÓN</b></div>
  <div class="card-body">

    <form method="post">

      <div class="form-group col-auto">
        <img src="../../assets/images/login.png" width="150" height="150" alt="Logo" />
      </div>

      <div class="form-group col-auto">
        <input type="text" class="form-control" name="username" id="username" placeholder="Nombre de Usuario" autofocus required> <!-- autofocus hace que el cursor se posicione acá automaticamente -->
      </div>

      <div class="form-group col-auto">
        <input type="password" class="form-control" name="password" id="password" placeholder="Contraseña" required>
      </div>

      <div class="form-group col-auto">
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="INGRESAR">
      </div>

    </form>

  </div>
</div>
